interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://test-api.dubo.gg/api/v1/dubo/documentation/e0dba56c-3531-48d3-ac3d-bf0447ca4e0a
  response:
    content: '{"id":"e0dba56c-3531-48d3-ac3d-bf0447ca4e0a","created_at":"2023-09-26T02:07:36","updated_at":"2023-09-26T02:07:36","file_name":"doc.txt","data_source_id":"5214256a-c5f8-4a94-ae83-1f2c90f912b8","organization_id":"67427bda-9f97-4ba7-831b-832043b6fc31"}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
