interactions:
- request:
    body: '{"query_text": "How many area types are there?", "fast": false}'
    headers:
      Content-Type:
      - application/json
      X-Dubo-Key:
      - pk.f7345174d27f4dbc908afadbaa7d69af
      X-Dubo-Lib:
      - python
    method: POST
    uri: https://api.dubo.gg/api/v1/dubo/query/generate?x_dubo_key=pk.f7345174d27f4dbc908afadbaa7d69af
  response:
    body:
      string: '{"id":"query-03366575-0dfd-4b29-948f-32ad79154018","query_text":"How
        many area types are there?","status":"running","tables":null,"results_set":null,"sql_text":null,"row_count":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-Dubo-Key:
      - pk.f7345174d27f4dbc908afadbaa7d69af
    method: GET
    uri: https://api.dubo.gg/api/v1/dubo/query/retrieve?dispatch_id=query-03366575-0dfd-4b29-948f-32ad79154018&x_dubo_key=pk.f7345174d27f4dbc908afadbaa7d69af
  response:
    body:
      string: '{"id":"query-03366575-0dfd-4b29-948f-32ad79154018","query_text":"How
        many area types are there?","status":"running","tables":null,"results_set":null,"sql_text":null,"row_count":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-Dubo-Key:
      - pk.f7345174d27f4dbc908afadbaa7d69af
    method: GET
    uri: https://api.dubo.gg/api/v1/dubo/query/retrieve?dispatch_id=query-03366575-0dfd-4b29-948f-32ad79154018&x_dubo_key=pk.f7345174d27f4dbc908afadbaa7d69af
  response:
    body:
      string: '{"id":"query-03366575-0dfd-4b29-948f-32ad79154018","query_text":"How
        many area types are there?","status":"success","tables":null,"results_set":[{"count":669}],"sql_text":null,"row_count":1}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
