interactions:
- request:
    body: '{"user_query": "Map the houses", "data_snippet": [{"id": 1, "transaction_date":
      2012.9166667, "house_age": 32.0, "mrt_distance": 84.87882, "convenience_stores_nearby":
      10, "lat": 24.98298, "lng": 121.54024, "price_per_unit_area": 37.9}, {"id":
      2, "transaction_date": 2012.9166667, "house_age": 19.5, "mrt_distance": 306.5947,
      "convenience_stores_nearby": 9, "lat": 24.98034, "lng": 121.53951, "price_per_unit_area":
      42.2}, {"id": 3, "transaction_date": 2013.5833333, "house_age": 13.3, "mrt_distance":
      561.9845, "convenience_stores_nearby": 5, "lat": 24.98746, "lng": 121.54391,
      "price_per_unit_area": 47.3}, {"id": 4, "transaction_date": 2013.5, "house_age":
      13.3, "mrt_distance": 561.9845, "convenience_stores_nearby": 5, "lat": 24.98746,
      "lng": 121.54391, "price_per_unit_area": 54.8}, {"id": 5, "transaction_date":
      2012.8333333, "house_age": 5.0, "mrt_distance": 390.5684, "convenience_stores_nearby":
      5, "lat": 24.97937, "lng": 121.54245, "price_per_unit_area": 43.1}], "fast":
      false, "chart_type": "deck_gl"}'
    headers:
      content-type:
      - application/json
      x-dubo-key:
      - pk.test-api-key
    method: POST
    uri: https://api.dubo.gg/v1/dubo/chart?num_charts=1
  response:
    content: '{"initialViewState":{"bearing":0,"latitude":24.98298,"longitude":121.54024,"pitch":0,"zoom":13},"layers":[{"@@type":"ScatterplotLayer","data":[],"filled":true,"getFillColor":[255,0,0,255],"getPosition":"@@=[lng,
      lat]","getRadius":"@@=price_per_unit_area * 2","id":"houses","opacity":0.8,"pickable":true,"radiusMinPixels":2,"radiusScale":1}],"mapProvider":"carto","views":[{"@@type":"MapView","controller":true,"mapStyle":"https://basemaps.cartocdn.com/gl/positron-nolabels-gl-style/style.json"}]}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
