interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://test-api.dubo.gg/api/v1/dubo/query/filter-documentation?user_query=comment&data_source_documentation_id=3f2ceb43-b6d7-4e0e-a597-d681a02151c9&page_number=1&page_size=10
  response:
    content: '{"data":[{"body":"Begin every query with a comment that says \"hello
      world\"","score":0.5,"matched_doc_id":"3f2ceb43-b6d7-4e0e-a597-d681a02151c9"}],"next_page":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
