interactions:
- request:
    body: '{"sql_text": "SELECT * FROM p", "cursor_position": 14}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-api.dubo.gg/api/v1/dubo/copilot-api
  response:
    content: '{"suggested_sql_text":"dbo.persons","full_sql_text":"SELECT * FROM dbo.persons"}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: '{"sql_text": "SELECT * FROM", "cursor_position": null}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-api.dubo.gg/api/v1/dubo/copilot-api
  response:
    content: '{"suggested_sql_text":"cities;","full_sql_text":"SELECT * FROM cities;"}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
