interactions:
- request:
    body: '{"query_text": "How many area types are there?", "fast": false, "mode":
      "just_tables"}'
    headers:
      content-type:
      - application/json
      x-dubo-key:
      - pk.test-api-key
    method: POST
    uri: https://api.dubo.gg/api/v1/dubo/query/generate
  response:
    content: '{"id":"9f279e6d4f5e4c9587a97bd77323c868","query_text":"How many area
      types are there?","status":"success","tables":[{"id":"e0c63400-f602-4b92-9357-a8216dac66dc","cols":[{"column_name":"oid","data_type":"oid","is_nullable":false,"table_name":"pg_type","schema_name":"pg_catalog","is_partitioning_column":null},{"column_name":"typname","data_type":"name","is_nullable":false,"table_name":"pg_type","schema_name":"pg_catalog","is_partitioning_column":null},{"column_name":"typnamespace","data_type":"oid","is_nullable":false,"table_name":"pg_type","schema_name":"pg_catalog","is_partitioning_column":null},{"column_name":"typowner","data_type":"oid","is_nullable":false,"table_name":"pg_type","schema_name":"pg_catalog","is_partitioning_column":null},{"column_name":"typlen","data_type":"smallint","is_null[...]
