interactions:
- request:
    body: '{"query_text": "How many area types are there?", "fast": false, "mode":
      "full_execution"}'
    headers:
      content-type:
      - application/json
      x-dubo-key:
      - pk.test-key
    method: POST
    uri: https://api.dubo.gg/api/v1/dubo/query/generate
  response:
    content: '{"id":"query-fa6afec4-5ae7-483c-83d5-26bb158bfa36","query_text":"How
      many area types are there?","status":"running","tables":null,"results_set":null,"sql_text":null,"row_count":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      x-dubo-key:
      - pk.test-key
    method: GET
    uri: https://api.dubo.gg/api/v1/dubo/query/retrieve?dispatch_id=query-fa6afec4-5ae7-483c-83d5-26bb158bfa36
  response:
    content: '{"id":"query-fa6afec4-5ae7-483c-83d5-26bb158bfa36","query_text":"How
      many area types are there?","status":"running","tables":null,"results_set":null,"sql_text":null,"row_count":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
      x-dubo-key:
      - pk.test-key
    method: GET
    uri: https://api.dubo.gg/api/v1/dubo/query/retrieve?dispatch_id=query-fa6afec4-5ae7-483c-83d5-26bb158bfa36
  response:
    content: '{"id":"query-fa6afec4-5ae7-483c-83d5-26bb158bfa36","query_text":"How
      many area types are there?","status":"success","tables":null,"results_set":[{"count":669}],"sql_text":null,"row_count":1}'
    headers:
      content-type:
      - application/json
    status_code: 200
version: 1
