interactions:
- request:
    body: '{"query_text": "How many area types are there?", "fast": false, "mode":
      "just_sql_text"}'
    headers:
      Content-Type:
      - application/json
      X-Dubo-Key:
      - pk.f7345174d27f4dbc908afadbaa7d69af
      X-Dubo-Lib:
      - python
    method: POST
    uri: https://api.dubo.gg/api/v1/dubo/query/generate?x_dubo_key=pk.f7345174d27f4dbc908afadbaa7d69af&mode=just_sql_text
  response:
    body:
      string: '{"id":"27578d390d3847918d2feb3ce51b7a2d","query_text":"How many area
        types are there?","status":"success","tables":null,"results_set":null,"sql_text":"SELECT
        COUNT(DISTINCT typname) FROM pg_catalog.pg_type WHERE typcategory = ''A''","row_count":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
